name: LLM

training:
  model-name: Bert
  data-name: EMOTION
  n-block: 12
  epochs: 1
  num-sample: 500
  random-seed: 1
  eval-every-epoch: true
  load-path: null
  save-path: Bert.pt

learning:
  learning-rate: 0.00001
  weight-decay: 0.01
  batch-size: 2
  clip-grad-norm: 0.0

log_path: .
debug_mode: true
